/* ReturnsAndCancellations.css */

.returns-cancellations-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .policy-description {
    text-align: justify;
    font-family:sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 2;
  }
  
  .policy-list {
    margin-left: 0px;
    list-style: disc;
    font-family:sans-serif;
    line-height: 2;
    padding-left: 20px;
  }
  