.brand-one {
  &__wrapper {
    background-color: #feefef;
    margin-bottom: remCal(100);
    padding: emCal(16, 50);
  }
  .section-title {
    margin-bottom: 0;
  }

  &__logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: emCal(16, 30);
    @include mq(md) {
      grid-template-columns: 1fr 1fr;
      margin-top: emCal(14, 30);
    }
    &__item {
      padding: emCal(16, 15);
      height: emCal(16, 80);
      display: flex;
      align-items: center;
      justify-content: center;
      background: {
        image: url("/assets/images/brands/BrandsOne/pattern.png");
        size: cover;
        position: center;
      }
      transition: $transition;
      &:hover {
        padding: emCal(16, 12);
      }
      img {
        @include imgCenter($type: contain);
      }
    }
  }
}

.brand-two {
  // padding: 20px;
  &__wrapper {
    align-items: center;
    margin-bottom: remCal(20);
    margin-top: 20px;
    //padding: 30px;
    // padding: emCal(16, 50);
    @media only screen and (max-width: 576px) {
      margin-top: 10px;
      align-items: baseline;
    }
  }

  .slick-arrow {
    @extend .btn;
    @include link($color: setShadeColor(dark), $fsz: emCal(16, 30));
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    padding: 0;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    @media only screen and (max-width: 576px) {
      padding: -20;
     // transform: translatex(0%);
    }

    &:hover {
      color: black;
      transform: translateY(-50%) scale(1.1);
      // background-color: rgba(0, 0, 0, 0.5);
      // border-radius: 50%;
      // background-color: white;
      // border-radius: 50%;
    }

    &.slick-next {
      right: emCal(30, 0);
    }
    &.slick-prev {
      left: emCal(30, 0);
    }
    @include mq(md) {
      &.slick-next {
        right: emCal(30, 15);
      }
      &.slick-prev {
        left: emCal(30, 15);
      }
    }
  }

  // .carousal {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  // }

  // .slick-slider .slick-arrow:before {
  //   color: white;
  //   font-size: 1.5rem;
  //   @media only Screen and (max-width: 40em) {
  //     display: none;
  //   }
  // }
  // .slick-slider .slick-dots button:before {
  //   color: white;
  //   margin-top: 20px;
  //   font-size: 1rem;
  //   @media only Screen and (max-width: 40em) {
  //     display: none;
  //   }
  // }
  // .slick-slide.slick-active {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   margin: 0;
  //   padding: 0;
  //   margin-bottom: 3rem;

  // }

  // .card {
  //   width: 250px;
  //   height: 200px;
  //   margin: 10px;
  // }
  .card-img {
    align-items: center;
    object-fit: contain;
    // width: 250px;
    // height: 180px;
    @media only screen and (max-width: 576px) {
        width: auto important;
        height: 160px;
        object-fit: contain;
    }
  }
  .product-title {
    /*This text shadow format is per as google fonts requirements*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Tangerine", serif;
  }

  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    @media only screen and (max-width: 576px) {
      font-size: 25px;
    }
  }

  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
    
  }

  .two h1 {
    text-transform: capitalize;
  }
  .two h1:before {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 60px;
    height: 2px;
    content: "";
    background-color: #c50000;

    @media only screen and (max-width: 576px) {
      bottom: 10px;
    }
  }

  .two h1 span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 20px;
    @media only screen and (max-width: 576px) {
      font-size: 11px;
      line-height: 2em;
      margin-top: 2px;
    }
  }
}


// custom css anjali
@media only screen and (max-width: 425px){
  .brand-two .slick-arrow.slick-next{display: none !important;}
  .brand-two .slick-arrow.slick-prev{display: none !important;}
}